<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Quizzing by bharatkashyap</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <meta name="viewport" content="width=device-width">
    <style type="text/css">
      .card:hover {
        cursor:pointer;
      }

      #college li, #inter-school li, #intra li {
        list-style-type: none;
        margin: 1rem 0;
      }
  
    </style>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Quizzing</h1>
        <p>Repository of all quizzes I have created/contributed to the creation of. 
          <p class="text-muted">Also, documenting all quizzes I henceforth attend/achievements in ones previously attended.</p>
        </p>

        <p class="view"><a href="https://github.com/bharatkashyap/quizzes">View the Project on GitHub <small>bharatkashyap/quizzes</small></a></p>


        <ul>
          <li><a href="https://github.com/bharatkashyap/quizzes/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/bharatkashyap/quizzes/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/bharatkashyap/quizzes">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        <h2>
<a id="quiz-repository" class="anchor" href="#quiz-repository" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Quiz repository</h2>


<h3><strong>Open</strong>  </h3>
<ul id="college">
<li v-for="card in opencards" v-bind:key="card.id"><div class="card" v-on:click="follow(card.link)"><img class="card-img-top" v-bind:src="card.img" alt="Card image cap" /><div class="card-body"><h5 class="card-title">{{ card.title }}</h5><div class="card-subtitle text-muted">{{card.year}}</div><p class="card-text">{{ card.format }}</p></div></div></li>  
</ul>
      
<h3><strong>College</strong>  </h3>
<ul id="college">
<li v-for="card in collegecards" v-bind:key="card.id"><div class="card" v-on:click="follow(card.link)"><img class="card-img-top" v-bind:src="card.img" alt="Card image cap" /><div class="card-body"><h5 class="card-title">{{ card.title }}</h5><div class="card-subtitle text-muted">{{card.year}}</div><p class="card-text">{{ card.format }}</p></div></div></li>  
</ul>


<h3><strong>Inter-school</strong>  </h3>

<ul id="inter-school">
  <li v-for="card in intercards" v-bind:key="card.id"><div class="card" v-on:click="follow(card.link)"><img class="card-img-top" v-bind:src="card.img" alt="Card image cap" /><div class="card-body"><h5 class="card-title">{{ card.title }}</h5><div class="card-subtitle text-muted">{{card.year}}</div><p class="card-text">{{ card.format }}</p></div></div></li>      
</ul>
        
<h3><strong>Intra-school</strong>  </h3>

<ul id="intra">
<li v-for="card in intracards" v-bind:key="card.id"><div class="card" v-on:click="follow(card.link)"><img class="card-img-top" v-bind:src="card.img" alt="Card image cap" /><div class="card-body"><h5 class="card-title">{{ card.title }}</h5><div class="card-subtitle text-muted">{{card.year}}</div><p class="card-text">{{ card.format }}</p></div></div></li>  
</ul>
   

              

<h2>
<a id="notable-quiz-list" class="anchor" href="#notable-quiz-list" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Notable Quiz list</h2>

<p><em>All links open in the same tab</em>  </p>

<ol>
      <li><p>College General Quiz at 'Eclectiza', TIET, Patiala (2018) - Runner Up (Team)</p></li>
      <li><p>College General Quiz at 'Fortitude', DTU (2018) - Finalist (Team)</p></li>
      <li><p>College War Quiz at 'Fortitude', DTU (2018) - Second Runner Up (Team)</p></li>
      <li><p>College India Quiz at 'Fortitude', DTU (2018) - Finalist (Team)</p></li>
      <li><p>Open FLAME Quiz at 'Tarang', LSR College for Women (2018) - Finalist (Team)</p></li>
      <li><p>Open India Quiz at 'Tarang', LSR College for Women (2018) - Finalist (Team)</p></li>
    <li><p>College General Quiz at 'Rendezvous', IIT Delhi (2017) - Finalist (Team)</p></li>
    <li><p>College General Quiz at Cannot Place, Delhi's Annual Quiz Fest (2017) - Finalist (Team)</p></li>
   <li><p>General Quiz at 'Tryst', IIT Delhi (2017) - Finalist (Team)</p></li>
   <li><p>General Quiz at Ashoka University (2017) - Finalist (Team)</p></li>
  <li><p>'99.73% General', General Quiz at Lady Sri Ram College for Women(2017) - Second Runner Up (Team)</p></li>
<li><p>TCS IT Wiz, Delhi Finals (2014) - Runner up (Team) <a href="https://www.youtube.com/watch?v=tvIceMO9KKY">Video, YouTube</a>  </p></li>
<li><p>Columban Open Quiz (2014) - Runner up (Team)  </p></li>
<li><p>Columban Open Quiz (2013) - Finalist (Team)  </p></li>
</ol>
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/bharatkashyap">bharatkashyap</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    <script type="text/javascript">
      var cards = new Vue({
      el: '.wrapper',
      data: {
        intracards: [

          { id: 5, img:"https://i.imgur.com/jGg7uvA.png", title: "e-Lite Senior Quiz Final", year: "2015", link:"https://bharatkashyap.github.io/quizzes/elite15/SQF/quiz.html", format: "Grid" },

          { id: 4, img:"https://i.imgur.com/j79DSZk.png", title: "e-Lite Senior Quiz Prelims", year: "2015", link:"https://drive.google.com/file/d/0B598asJ2lBwNTkstMGxmb0RpU0k/view", format: "Prelims PDF" },

          { id: 3, img:"https://i.imgur.com/mUVKS3r.png", title: "e-Lite Junior Quiz Final", year: "2015", link:"https://bharatkashyap.github.io/quizzes/elite15/JQF/quiz.html", format: "Grid" },


          { id: 2, img:"https://i.imgur.com/zfjUdaB.png", title: "e-Lite Junior Quiz Prelims", year: "2015", link:"https://drive.google.com/file/d/0B598asJ2lBwNdWwwZDU4eUdXTlU/view", format: "Prelims PDF" },


          { id: 1, img:"https://i.imgur.com/0dxIsxl.png", title: "Quizzing Club Prelims", year: "2014", link:"https://drive.google.com/file/d/0B598asJ2lBwNRTU2V21FVDJBcWs/view", format: "Prelims PDF" },

          { id: 0, img:"https://i.imgur.com/CI0cb5A.png", title: "Economics/Business Quiz", year: "2013", link:"https://drive.google.com/open?id=0B598asJ2lBwNRTRrN1B0UmY4bWM", format: "Prelims PDF" }
          ],

        intercards: [
          { id: 8, img:"https://i.imgur.com/dEn7d5G.png", title: "Exun 2018 Senior Quiz Final", year: "2018", link:"https://docs.google.com/presentation/d/1mxon5WkKJutkKfB5xg-EhU78Kw7qtNlgtJqXrXLAcPw/edit?fbclid=IwAR3-tSd5sLtE3CLptvjFPU5q_NgwVwTh9OUk3ZEE2llXRVWIjnqdxnZButs#slide=id.g4567a0fb5e_0_11", format: "Presentation"},

          { id: 7, img:"https://i.imgur.com/8kwyxiw.png", title: "Exun 2017 Senior Quiz Final", year: "2017", link:"https://quizgen-final.firebaseapp.com/?sheet=https://docs.google.com/spreadsheets/d/1kUrnhTgvS_9dpztCd8fgvRCGksRXzsd9APT_PJIKlhY/edit#gid=0", format: "Quizgen Grid"},


          { id: 6, img:"https://i.imgur.com/Blibs9t.png", title: "Final at Infinitus Reus", year: "2017", link:"https://quizgen-final.firebaseapp.com/?sheet=https://docs.google.com/spreadsheets/d/1W4A4rrA812qtynqrU3Y4iYQrFrizoAe8WezAw0wviEg/edit#gid=0", format: "Quizgen Grid" },


          { id: 5, img:"https://i.imgur.com/nrnVAqF.png", title: "Exun 2016 Senior Quiz Final", year: "2016", link:"https://bharatkashyap.github.io/quizzes/exun16/SQF/View/", format: "Quizgen Grid" },


          { id: 4, img:"https://i.imgur.com/d2gCcuY.png", title: "Exun 2016 Senior Quiz Prelims", year: "2016", link:"https://drive.google.com/file/d/0B598asJ2lBwNam5HeXJLR1ZPdkk/view", format: "Prelims PDF" },

          { id: 3, img:"https://i.imgur.com/IKy9e3E.png", title: "Exun 2016 Junior Quiz Final", year: "2016", link:"https://bharatkashyap.github.io/quizzes/exun16/JQF/View/", format: "Quizgen Grid" },

          { id: 2, img:"https://i.imgur.com/BO2GWWL.png", title: "Exun 2015 Senior Quiz Prelims", year: "2015", link:"https://drive.google.com/file/d/0B598asJ2lBwNLThKaVFKYnlFbkk/view", format: "Prelims PDF" },

          { id: 1, img:"https://i.imgur.com/sLitsq0.png", title: "Exun 2015 Junior Quiz Final", year: "2015", link:"https://bharatkashyap.github.io/quizzes/exun15/JQF/quiz.html", format: "Grid"},

           { id: 0, img:"https://i.imgur.com/h1EUTn4.png", title: "Exun 2015 Junior Quiz Prelims", year: "2015", link:"https://drive.google.com/file/d/0B598asJ2lBwNbzhtYUh6ZUwzbTA/view", format: "Prelims PDF" }
          ],

          collegecards: [

          { id: 1, img:"https://i.imgur.com/PGbLMX3.png", title: "India quiz at Eclectiza", year: "2017", link:"https://drive.google.com/file/d/0B598asJ2lBwNSjR6OHdGaE80Tjg/view", format: "PDF" },


          { id: 0, img:"https://i.imgur.com/QmC6Q5Q.png", title: "General quiz for TQC meet", year: "2016", link:"https://bharatkashyap.github.io/quizzes/17nov16/View/", format: "Quizgen Grid" }
          ],

          opencards: [
          { id: 0, img:"https://i.imgur.com/ZWITt5X.png", title: "India and the world Quiz", year: "2018", link:"https://bit.ly/dqc318india", format: "Quizgen Grid" }
          ]
        },
      methods: {
        follow: function(url) {
          window.open(url);
          }
        }
      })
    </script>
    
  </body>
</html>
